@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Candy Store, Visit The Storefront For Candy All Options</h1>
    <h4 class="display-4">Please Enjoy In Moderation To Avoid Future Problems!</h4>
    
</div>
